*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blog{
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.blog-article{
    height: 100%;
    width: 300px;
    position: relative;
    border: solid 1px #dfdfdf;
}

.blog-article:nth-child(1),.blog-article:nth-child(2){
    margin-right: 30px;
}

.article-num{
    background-color: orange;
    height: 35px;
    width: 60px;
    font-size: 24px;
    text-align: center;
    color: white;
    z-index: 1;
    position: relative;
}

img{
    position: absolute;
    top: 0px;
    margin: 10px 10px 0 10px;
}

.article-content{
    padding-top: 190px;
    margin: 0 10px;
}

.article-content h2{
    padding-bottom: 10px;
}

.article-content p{
    font-size: 16px;
}
